.main-container {
  grid-area: main;
  padding: 2rem;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}
@media (min-width: 600px) and (max-width: 800px) {
  .cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 900px) and (max-width: 1019px) {
  .cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1500px) {
  .cards-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}
